<div class="total">
  <div class="header">
  <div class="true">
    <% if @user.present? %>
    <div class="top-info"><%= @user.nickname %> | Logout</div>
    <% end %>
    <div class="logo">
      <img src="/assets/logo.png" alt="Guessing Game" title="Guessing Game" />
    </div>

    <ul>
      <li><a href="#" class="active">Profile</a></li>
      <li><a href="#">In Game</a></li>
      <li><a href="#">Ranking</a></li>
      <li><a href="#">Shopping</a></li>
    </ul>
  </div>
  </div>
</div>
